.gallery {
  max-width: 1184px;
  margin: 0 auto 92px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-gap: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .gallery {
      max-width: 928px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 14px;
      padding: 0 48px 0 48px;
      box-sizing: content-box;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    max-width: 720px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    padding: 0 24px 0 24px;
    grid-gap: 16px;
  }
}

@media screen and (max-width: 420px) {
  .gallery {
    max-width: 288px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin: 0 auto 64px auto;
    padding: 0 16px 0 16px;
    grid-gap: 12px;
  }
}

@media screen and (max-width: 300px) {
  .gallery {
    display: flex;
    flex-direction: column;
    padding: 0 8px 0 8px;
  }
}
