.footer__items {
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 610px) {
  .footer__items {
    flex-direction: column;
    margin: 0 10px 41px 0;
  }
}
