.places {
  list-style-type: none;
  max-width: 984px;
  margin: 0 auto 92px auto;
  padding: 0 48px 0 48px;
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 auto 90px auto;
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 530px) {
  .places {
    margin-bottom: 65px;
    padding: 0;
  }
}
