.header {
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  font-size: 24px;
  line-height: 28px;
  box-sizing: border-box;
}

.header__lang-link {
  display: flex;
  align-items: flex-end;
}

.header__lang-link_indent {
  padding-right: 18px;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.link:hover {
  text-decoration: underline;
}

.link_active {
  text-decoration: underline;
}

.content {
  max-width: 1184px;
  margin: 0 auto;
}

.lead {
  margin: 0 auto 92px auto;
  box-sizing: border-box;
  text-align: center;
}

.lead__title {
  font-family: 'InterBlack', Arial, sans-serif;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  width: 100%;
  margin: 0 auto 32px auto;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  width: 100%;
  margin: 0 auto 64px auto;
}

.lead__image {
  width: 984px;
  height: 615px;
  object-fit: cover;
  margin-bottom: 8px;
}

.lead__caption {
  max-width: 984px;
  width: 100%;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-align: start;
  margin: 0 auto;
}

.intro {
  margin: 0 auto 92px auto;
  box-sizing: border-box;
  max-width: 984px;
  width: 100%;
}

.intro__title {
  max-width: 690px;
  width: 100%;
  font-family: 'InterBlack', Arial, sans-serif;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  max-width: 690px;
  width: 100%;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  font-family: 'InterBold', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.intro__num {
  font-family: 'InterRegular', Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

.gallery {
  max-width: 1184px;
  margin: 0 auto 92px auto;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-gap: 16px;

}

.gallery__image {
  width: 284px;
  height: 213px;
  object-fit: cover;
  /* margin: 0 16px 0 16px; */
}

.places {
  list-style-type: none;
  max-width: 984px;
  margin: 0 auto 92px auto;
  padding: 0;
}

.place {
  display: grid;
  grid-template-areas:
  "title url"
  "image paragraph";
  row-gap: 48px;
  column-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 0 0 80px 0;
  padding: 0;
}

.place:last-child {
  margin-bottom: 0;
}

.places__title {
  grid-area: title;
  margin: 0;
  padding: 0;
}

.places__image {
  width: 460px;
  height: 460px;
  grid-area: image;
}

.places__website {
  grid-area: url;
  align-self: end;
}

.places__url-heading {
  font-size: 12px;
  line-height: 12px;
  color: #aaa;
  /* grid-area: url; */
}

.places__link {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  /* grid-area: url; */
}

.places__text {
  grid-area: paragraph;
}

.places__paragraph {
  font-size: 18px;
  line-height: 163%;
  margin: 0 0 26px 0;
  padding: 0;
}

.places__paragraph:last-child {
  margin: 0;
}

.title {
  font-family: 'InterBlack', Arial, sans-serif;
  font-size: 72px;
  line-height: 76px;
}

.cover {
  background-image: url(../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1184px;
  height: 740px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.cover:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  background: rgba(42,44,47,0.3);
}

.cover__title {
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  width: 100%;
  z-index: 99;
}

.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  width: 100%;
  z-index: 99;
}
