
@media screen and (max-width: 420px) {

  .header__lang-link {
    padding-bottom: 6px;
  }

  .lead__title {
    font-size: 32px;
    line-height: 35px;
  }

  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 40px auto;
  }

  .lead__image {
    max-width: 320px;
    width: 100%;
    max-height: 200px;
  }

  .lead__caption {
    max-width: 150px;
    margin-left: 24px;
  }
  .intro {
    max-width: 288px;
    margin: 0 auto 64px auto;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .gallery {
    max-width: 288px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    margin: 0 auto 64px auto;
  }
  .gallery__image {
    min-width: 288px;
    width: 100%;
  }
  .places {
    max-width: 320px;
    margin: 0 auto 66px auto;
  }

  .place {
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    row-gap: 0;
  }

  .place__title {
    padding: 0 16px 32px 16px;
  }

  .place__image {
    max-width: 320px;
    width: 100%;
    max-height: 320px;
    margin-bottom: 32px;
  }

  .place__website {
    align-self: flex-start;
    padding: 0 16px 32px 16px;
  }

  .place__paragraph {
    padding: 0 16px 0 16px;
  }

  .title {
    font-size: 32px;
    line-height: 35px;
  }

  .cover {
    max-width: 320px;
    height: 200px;
    margin: 0 auto 64px auto;
  }

  .cover__title {
    margin: 16px;
    max-width: 255px;
    width: 100%;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 260px;
    width: 100%;
  }
}

@media screen and (max-width: 290px) {
  .header__lang-link_indent {
    padding-right: 8px;
  }
  .lead__title {
    font-size: 25px;
    line-height: 25px;
  }
  .gallery {
    display: flex;
    flex-direction: column;

  }
  .gallery__image {
    min-width: 150px;
  }
}
