.intro {
  margin: 0 auto 92px auto;
  max-width: 984px;
  width: 100%;

}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 28px 0 28px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 auto 88px auto;
    padding: 0 24px 0 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 420px) {
  .intro {
    margin: 0 auto 65px auto;
    padding: 0 16px 0 16px;
    box-sizing: border-box;
  }
}
