.intro {
  margin: 0 auto 92px auto;
  max-width: 984px;
  width: 100%;
  padding: 0 48px 0 48px;
}

@media screen and (max-width: 1024px) {
  .intro {
    box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 auto 88px auto;
    padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 420px) {
  .intro {
    margin: 0 auto 64px auto;
    padding: 0 16px 0 16px;
  }
}
